<div *ngIf="entity" class="single-card-holder">
  <div class="ui card single_card">
    <a class="image">
      <img [src]="getUserImageSrc()">
    </a>
    <div class="content">
      <a class="header">{{entity.firstName}} {{entity.lastName}}</a>
      <div class="meta">
        <a>{{ entity.phone }}</a>
      </div>
      <div class="center">
        <button class="ui btn-default btn left floated" (click)="editUser()">{{ 'user.form.actions.edit.button' | translate}}</button>
        <button class="ui btn-danger btn right floated" (click)="removeUser()">{{ 'user.form.actions.delete.button' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<template #addEditEntity></template>
