<!--<div *ngIf="loading"><img class="spinner" src="assets/ajax-loader.gif"></div>-->
<div class="modal fade" id="addToCartModal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="removeModal()">&times;</button>
        <h2 class="title">{{ 'store.page.popup.your.cart' | translate }}</h2>
      </div>
      <div class="modal-body">
        <div class="ui main text container">
          <div *ngIf="allBooksInCart.length > 0">
            <table class="content-holder">
              <tr>
                <td>№</td>
                <td>{{ 'store.page.popup.cover' | translate }}</td>
                <td>{{ 'store.page.popup.category' | translate }}</td>
                <td>{{ 'store.page.popup.author' | translate }}</td>
                <td>{{ 'store.page.popup.title' | translate }}</td>
                <td>{{ 'store.page.popup.price' | translate }}</td>
                <td>{{ 'store.page.popup.amount' | translate }}</td>
                <td>{{ 'store.page.popup.actions' | translate }}</td>
                <td></td>
              </tr>
              <tr *ngFor="let book of allBooksInCart; let i = index" style="height:50px;">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  <div class="blurring dimmable image">
                    <img width="50px" height="50px" [src]="getPhoto(book)">
                  </div>
                </td>
                <td>
                  <div>
                    <a *ngIf="book.catalog">{{ book.catalog.name }}</a>
                  </div>
                </td>
                <td>
                  <div>
                    {{ book.author }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ book.title }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ book.price | localizedCurrency  }}
                  </div>
                </td>
                <td>
                  <div>
                    {{ booksMap.get(book) }}
                  </div>
                </td>
                <td>
                  <div class="change-book-quantity">
                    <div class="action-buttons"><a class="substract-book"
                                                   (click)="cartService.changeBookQuantity(book, {removeSingle: true, removeAll: false})">
                      - </a></div>
                    <div class="action-buttons"><a class="add-book"
                                                   (click)="cartService.changeBookQuantity(book, {removeSingle: false, removeAll: false})">
                      + </a></div>
                  </div>
                </td>
                <td>
                  <button type="button" class="close" data-dismiss="modal"
                          (click)="cartService.changeBookQuantity(book, {removeSingle: false, removeAll: true})">&times;
                  </button>
                </td>
              </tr>
            </table>
            <div class="left-float">Total Amount:</div>
            <div class="right-float">{{ cartService.getTotalAmount(booksMap) | currency }}</div>
            <div class="modal-footer">
              <button (click)="removeModal()"
                      class="ui positive left floated button">{{ 'store.page.popup.continue.shopping' | translate }}
              </button>
              <button [routerLink]="['/cart']" (click)="removeModal()"
                      class="ui positive right floated button">{{ 'store.page.popup.goto.cart' | translate }}
              </button>
            </div>
          </div>
          <p *ngIf="allBooksInCart.length == 0">{{ 'store.page.popup.empty.cart' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
